footer{
    background-color:rgb(0, 0, 0);
    vertical-align: bottom;
    color: white;
    justify-content: end;    
    .footerPres{
        @include nueveCuarenta{
            display: none;
        }
    }
    .footerBlock{
        display: inline-block;
        margin: auto;
        border-top: black;
        padding: 10px 20px;
        vertical-align: top;
       a{
            text-decoration: none;
            img{
                height: 45px;
            }
            h4{
                text-decoration: none;
                color: white;
                transition: $transition;
                font-family: $fFam;
            }
        }
        ul{
            li{
                list-style: none;
            }
            .aFooter{
                text-decoration: none;
                color: white;
                transition: $transition;
                &:hover{
                    font-weight: bold;
                }
             }
        }
    }
}