main{
    .divLoaderLog{
        visibility: hidden;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 10;      
        .loaderLog {
            align-items: center;
            justify-content: center;
            display: flex;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            position: absolute;
            animation: rotate 1s linear infinite
          }
          .loaderLog::before , .loader::after {
            content: "";
            box-sizing: border-box;
            position: absolute;
            inset: 0px;
            border-radius: 50%;
            border: 5px solid #000;
            animation: prixClipFix 2s linear infinite ;
          }
          .loaderLog::after{
            inset: 8px;
            transform: rotate3d(90, 90, 0, 180deg );
            border-color: #7e7e7e;
          }
    
          @keyframes rotate {
            0%   {transform: rotate(0deg)}
            100%   {transform: rotate(360deg)}
          }
    
          @keyframes prixClipFix {
              0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
              50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
              75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
          }
    }
    .logoLogIn{
        display: block;
        text-align: center;
        margin-top: 30px;
        a{
            text-decoration: none;
            .logoLogInImg{
                height: 100px;
                @include seiscientos{
                    height: 75px;
                }
            }
            .brandLogIn{
                font-size: 2rem;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                vertical-align: middle;
                color: rgb(255, 255, 255);
                text-shadow: $blackShadow;
                @include seiscientos{
                    font-size: 1.5rem;
                }
            }
        }
    }
    form{
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        text-shadow: $blackShadow;
        label{
            justify-content: center;
            align-items: center;
            text-align: center;
            display: block;
            font-weight: bold;
            margin-bottom: 10px;

        }
        input{
            align-items: center;
            display: inline-block;
            width: 200px;
            margin-bottom: 20px;
            padding: 10px;
            font-size: 1rem;
        }
        textarea{
            display: inline-block;
            width: 200px;
            margin-bottom: 20px;
            padding: 10px;
            font-size: 1rem;
        }
        .inputForms{
            width: 45%;
            text-align: center;
            @include seiscientos{
                width: 80%
            }
        }
    }
    .registrarse{
            text-align: center;
            align-items: center;
            justify-content: center;
            a{
                text-decoration: none;
                color: white;
                text-shadow:$blackShadow;
                transition: all 0.2s;
                &:hover{
                    font-weight: bold
                }
            }
    }   
}