$nab-foot-color: black;
$blackShadow :
    1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 0 #000,
    1px 1px 0 #000;
$whiteShadow:
    1px 1px 0 #ffffff,
    1px 1px 0 #ffffff,
    1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
$fFam : 'Roboto', sans-serif;
$transition : all 0.2s;